<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8RcQstsZyXtxTZMX-8PKhkHUm65LDHdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1044491487797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.culero.app</string>
	<key>PROJECT_ID</key>
	<string>culero-407005</string>
	<key>STORAGE_BUCKET</key>
	<string>culero-407005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044491487797:ios:2cf970b0e3dd97c348bf7c</string>
</dict>
</plist>